In [8]:
import os 
import sys 
import json
import pandas as pd

In [9]:
df = pd.read_csv('data/hcsdatacleaned.csv')
df = df.iloc[:, 1:]
print(f"df.shape = {df.shape}")
df.head()

df.shape = (510, 90)

,From Date_3,To Date_3,PM2.5_3,RH_3,AT_3,WS_3,WD_3,lat_3,long_3,From Date_4,...,long_17,From Date_18,To Date_18,PM2.5_18,RH_18,AT_18,WS_18,WD_18,lat_18,long_18
0,26-07-2023 09:00,26-07-2023 09:15,12.0,76.0,31.2,3.0,229.0,25.262,87.011,26-07-2023 09:00,...,85.245,26-07-2023 09:00,26-07-2023 09:15,39.0,64.0,34.4,1.5,19.0,26.227,84.357
1,26-07-2023 10:00,26-07-2023 10:15,7.0,73.0,31.9,3.0,356.0,25.262,87.011,26-07-2023 10:00,...,85.245,26-07-2023 10:00,26-07-2023 10:15,25.0,62.0,35.1,1.6,29.0,26.227,84.357
2,26-07-2023 11:00,26-07-2023 11:15,2.0,69.0,32.7,3.5,353.0,25.262,87.011,26-07-2023 11:00,...,85.245,26-07-2023 11:00,26-07-2023 11:15,28.0,57.0,36.1,1.7,12.0,26.227,84.357
3,26-07-2023 12:00,26-07-2023 12:15,6.0,64.0,34.1,3.4,354.0,25.262,87.011,26-07-2023 12:00,...,85.245,26-07-2023 12:00,26-07-2023 12:15,25.0,56.0,36.9,1.5,31.0,26.227,84.357
4,26-07-2023 13:00,26-07-2023 13:15,15.0,62.0,34.7,3.3,358.0,25.262,87.011,26-07-2023 13:00,...,85.245,26-07-2023 13:00,26-07-2023 13:15,23.0,57.0,37.2,1.5,354.0,26.227,84.357

In [10]:
with open('data/hcsName2Index.json', 'r') as f: 
    hcsName2Index = json.load(f)
    
print(type(hcsName2Index))

<class 'dict'>

In [11]:
hcsIndex2Name = {}
for key, value in hcsName2Index.items():
    hcsIndex2Name[value] = key.upper()
    
with open("data/hcsIndex2Name.json", 'w') as f: 
    json.dump(hcsIndex2Name, f)